* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #222;
}

body {
    background-color: #222;
    display: flex;
    justify-content: center;
    color: #939393;
}


/* 
.main {
    width: 80%;
    display: flex;
    justify-content: center;
} */

.app {
    background-color: #222;
}

a.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    margin: 1rem;
}

a.nav-link:hover {
    background-color: rgba(34, 34, 34, 0.5);
}

div.dropdown-menu.show {
    background-color: #343a40;
    border: none;
}

a.dropdown-item {
    color: #ffffff;
}

a.dropdown-item:hover {
    background-color: rgba(34, 34, 34, 0.5);
    color: #ffffff;
}

.logo {
    cursor: pointer;
}

.carausel-div {
    margin-top: 3rem;
    /* max-height: 600px; */
}

.carousel-caption {
    top: 35%;
}

.btn {
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    padding: 15px;
}

#services {
    display: flex;
    justify-content: last baseline;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: #939393;
    padding-top: 100px;
}

#services h1 {
    background-color: #222;
    text-align: center;
    color: orange;
}

.services-description {
    text-align: center;
    margin-bottom: 0;
    max-width: 700px;
}

.service h2 {
    font-size: 1.3rem;
    color: #ffffff;
    margin-top: 0.6rem;
}

.service {
    padding: 1.2rem;
}

.about-component,
.service-component {
    display: flex;
    justify-content: last baseline;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: #939393;
    /* padding-top: 30px; */
}

.team-description h1 {
    background-color: #222;
    text-align: center;
    color: orange;
}

.team-description {
    text-align: center;
    margin-bottom: 0;
    max-width: 700px;
}

.member-description,
.service-price {
    text-align: center;
}

.member-description h3 {
    color: orange;
}

.social-media {
    margin: 3px;
    cursor: pointer;
    border: 2px solid orange;
    background-color: orange;
    transition: color 0.15s ease-in-out;
}

.social-media:hover {
    background-color: transparent;
}

.member-div,
.service-price {
    position: sticky;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transition: 0.2s all ease-in-out;
}

.member-div:hover {
    margin-top: -4px;
}

#team,
.service-component {
    padding-top: 5.1rem;
}

#pricing {
    padding-top: 3rem;
}


/* 
.about-team {
    width: 700px;
    background-color: #222;
}
*/

.img-div,
.img-div img {
    width: 150px;
    border-radius: 50%;
    /* padding-top: 10px; */
    margin: auto;
}

h1 {
    color: orange;
    font-size: 0.5rem;
}

.service-price {
    background-color: rgb(51, 51, 51);
}

.service-price h2 {
    color: white;
}

.pricing-description {
    text-align: center;
    margin-bottom: 0;
    max-width: 700px;
}

.service-component h1 {
    font-size: 2rem;
    margin: 1rem;
}

ul {
    list-style: none;
}

ul li {
    margin: 1rem;
    padding: 0.5rem;
}

ul li:before {
    content: "\00a0 ✓ \00a0";
    color: green;
    font-weight: 700;
}

.butn {
    height: 40px;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.butn:focus {
    /* border-color: 2px solid #545b62 !important; */
    box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 50%) !important;
}

.butn:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

#pricing {
    padding-top: 5.1rem;
}

@media (max-width: 992px) {
    a.nav-link {
        margin: 0;
    }
    .services-list {
        margin: 0 3rem 0 3rem;
    }
    .services-description {
        margin: 0 3rem 0 3rem;
    }
    .about-team,
    .service-component {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .member-div,
    .service-price {
        width: 90%;
        max-width: 500px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-componentt {
        margin: 0 3rem 0 3rem;
    }
    .team-description {
        margin: 0 3rem 0 3rem;
    }
    .pricing-description {
        margin: 0 3rem 0 3rem;
    }
    #team,
    .service-component {
        padding-top: 3rem;
    }
    #services {
        padding-top: 3rem;
    }
    .carousel-indicators {
        display: none !important;
    }
    .btn-carousel {
        margin-bottom: 1rem !important;
    }
}

@media (min-width: 992px) {
    .services-list {
        display: flex;
        justify-content: center;
        max-width: 80%;
    }
    .services-list p {
        text-align: left;
    }
    .about-team {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .member-div,
    .service-price {
        min-width: 300px;
        margin: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service-component {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}